<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">Brand</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><form class="navbar-search pull-left">
  			<input type="text" class="search-query" placeholder="Search" ng-model="searchText">
  		  </form>
  	  </li>
    </ul>
  </div>
</div>
<div class="container">
	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
	
	
</div>